<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni-Student Platform</title>
    <link rel="stylesheet" href="login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <h2 class = "logo">Logo</h2>
        <nav class = navigation>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <button class="btnLogin-popup" onclick="location.href='/login'">Login</button>
        </nav>
    </header>

    <div class = "wrapper">
        <div class = "form-box login">
            <h2>Login</h2>
            <form action = '/login' method = "post">
                <div class = "input-box">
                    <span class = "icon">
                        <ion-icon name="mail-outline"></ion-icon>
                    </span>
                    <input type = "email" name = "email" required>
                    <label>Email</label>
                </div>
                <div class = "input-box">
                    <span class = "icon">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                    <input type = "password" name = "password" required>
                    <label>Password</label>
                </div>
                <div class="remember-forgot">
                    <label><input type = "checkbox">Remember Me</label>
                    <a href = '/signup'>Forgot Password?</a>
                </div>
                <button type = "submit" class = "btn">Login</button>
                <div class="login-register">
                    <p>Don't have an account? <a href = '/signup' class = "register-link"> Register</a></p>
                </div>
            </form>
        </div>
    </div>

    <!-- <script src="app.js"></script> -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const errorMessage = '{{errorMessage}}';
            if (errorMessage) {
                alert(errorMessage);
            }
        })
    </script>
</body>
</html>
